@mixin displa_flex($direccion, $eje_principal, $eje_secundario) {
  display: flex;
  flex-direction: $direccion;
  justify-content: $eje_principal;
  align-items: $eje_secundario;
}
@mixin display_grid($minimo, $margen) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($minimo, 1fr));
  grid-template-rows: 1fr;
  grid-gap: $margen;
}
