:root {
  /*
      movil:(x=375,y=776)
      escritorio:(x=1440,y=1080)
    */

  --tamano_icono: 2rem;

  @include colores();

  @include titulo_1();
  @include titulo_2();
  @include titulo_5();
  @include titulo_6();

  @include normal();
  @include normal_pequeno();

  @include rellenos();
  @include anchos();

  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
