.bienvenido {
  & > * + * {
    margin-top: 1.56rem; /* (25/16) */
  }

  .parrafo_bienvenido {
    width: 66.66%; /* (250/375)*100 */
  }
  .titulo_5_bienvenido {
    width: 68.87%; /* (258.26/375)*100*/
    text-transform: none;
    .enlace_titulo_5_bienvenido {
      font-family: inherit;
      font-weight: bold;
      font-size: inherit;
      text-transform: inherit;
      line-height: inherit;
      color: inherit;
      @include displa_flex(row, flex-start, center);
    }
    .enlace_icono_bienvenido {
      font-size: inherit;
      margin-left: 3.96%; /*(14.88/375)*100*/
    }
  }
}
@media screen and(min-width:60rem) {
  .bienvenido {
    margin-top: 0;
    flex-basis: 31.48%; /* (409.96/(1440-138))*100 */

    & > * + * {
      margin-top: 2.5rem; /* (40/16) */
    }
  }
}
