.lista {
  & > .item + .item {
    margin-top: 3rem; /*(32/16)*/
  }
  .item {
    &:first-child {
      .titulo_2_item {
        font-weight: bolder;
        border-bottom: 3px solid #ffffff;
        padding-bottom: 0.5rem; /* (8/16) */
      }
    }
  }
}
