.titulo_1 {
  font-weight: 500;
  font-size: var(--tamano_titulo);
  line-height: var(--interlineado_titulo);
  text-transform: capitalize;
  color: var(--color_primario);
}
.titulo_2 {
  font-weight: bold;
  font-size: var(--tamano_titulo_2);
  line-height: var(--interlineado_titulo_2);
  text-transform: capitalize;
  color: var(--color_primario);
}
.titulo_5 {
  font-weight: 200;
  font-size: var(--tamano_titulo_5);
  line-height: var(--interlineado_titulo_2);
  text-transform: capitalize;
  color: var(--color_primario);
}
.titulo_6 {
  font-weight: 500;
  font-size: var(--tamano_titulo_6);
  line-height: var(--interlineado_titulo_6_novil);
  text-transform: capitalize;
  color: var(--color_primario);
}
