.contenido {
  width: 100%;
  margin-top: 2.37rem; /* (37.92/16) */
  & > .bienvenido + .tarjeta {
    margin-top: 1.75rem; /* (28/16) */
  }
}

@media screen and (min-width: 60rem) {
  .contenido {
    margin-top: 7.31rem; /* (116.96/16) */
    height: 54.33vmax; /* (782.35/1440)*100 */
    @include displa_flex(row, center, center);
  }
}
