.contenedor {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.18rem 0.75rem;
  animation: apareceSitio 0.8s ease-in 0s;
}

@media screen and (min-width: 37.5em) {
  .contenedor {
    padding: 2.87rem 4.75rem;
  }
}
