.home {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1.18rem 0.75rem;
  animation: apareceSitio 0.8s ease-in 0s;
}

@media screen and (min-width: 48rem) {
  .home {
    padding: 1.87rem 4.75rem;
  }
}

@media screen and (min-width: 80rem) {
  .home {
    padding: 2.87rem 4.75rem;
  }
}
