.parrafo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  color: var(--color_primario);
}
.enlace {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
  color: var(--color_primario);
}
.icono {
  font-size: var(--tamano_icono);
  color: var(--color_primario);
  cursor: pointer;
}
