:root {
  //colores
  --color_primario: #ffffff;
  --color_secundario_oscruro: #181719;
  --color_secundario_gris_300: #828282;
  --color_secundario_gris_200: #00000040;

  //fuentes de tamano

  --tamano_titulo_movil: 2.25rem; /* 36/16 */
  --tamano_titulo_2_movil: 1.125rem; /* (18/16) */
  --tamano_titulo_5_movil: 0.87rem; /*14/16*/
  --tamano_titulo_6_movil: 0.75rem; /*14/16*/
  --tamano_normal_movil: 0.75rem; /*12/16*/
  --tamano_parrafo_movil: 0.87rem; /*14/16*/
  --tamano_parrafo_pequeño_movil: 0.62rem; /*10/16*/
  --tamano_enlace_movil: 1.12rem; /* 18/16 */

  --tamano_titulo_escritorio: 3rem; /* 48/16 */
  --tamano_titulo_2_escritorio: 1.5rem; /* 24/16 */
  --tamano_titulo_6_escritorio: 0.87rem; /* 14/16 */
  --tamano_normal_escritorio: 0.87rem; /* 14/16 */
  --tamano_parrafo_escritorio: 1.5rem; /* 24/16 */
  --tamano_parrafo_pequeño_escritorio: 0.75rem; /* 12/16 */
  --tamano_enlace_escritorio: 1.12rem; /* 18/16 */

  --tamano_icono: 2rem; /*32/16*/
  //rellenos
  --relleno_movil_home: 2.44vh 3.2%; /* (19/776)*100 , (12/375)*100 */
  --relleno_escritorio_home: 3.88vh 5%; /* (42/1080)*100 , (72/1440)*100 */

  //anchos
  --ancho_maximo_home: 90rem; /*1440/16*/
}
