.contenido {
  width: 100%;
  margin-top: 2.37rem; /* 38/16 */
  & > .bienvenido + .tarjeta {
    margin-top: 1.75rem; /* 28/16 */
  }
}

@media screen and (min-width: 60rem) {
  .contenido {
    margin-top: 7.31rem;
    height: 54.33vmax;
    @include displa_flex(row, center, center);
  }
}
