.contenido {
  width: 100%;
  & > .bienvenido + .tarjeta {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .contenido {
    margin-top: 7.31rem;
    @include displa_flex(row, space-between, center);
  }
}
