.navegacion_escritorio {
  display: none;
}
@media screen and (min-width: 50rem) {
  .navegacion_escritorio {
    display: block;
    .lista {
      @include displa_flex(row, space-between, center);
      & > .item + .item {
        margin-left: 5.37rem;
      }
      .item {
        &:first-child {
          .item_enlace {
            border-bottom: 1px solid var(--color_item_enlace);
            font-weight: bolder;
            padding-bottom: 0.5rem;
          }
        }
        .item_enlace {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 1.12rem;
          line-height: 1.37rem;
          color: var(--color_item_enlace);
          text-transform: capitalize;
        }
      }
    }
  }
}
