.menu_movil {
  padding: var(--relleno_movil_home);
  width: 100%;
  height: 100vh;
  background-color: var(--color_secundario_oscruro);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  transition-duration: 1s;
  transition-property: all;
  &.abre {
    opacity: 1;
    z-index: 1;
  }
  .cerrar {
    @include displa_flex(row, flex-end, center);
  }
  .lista {
    height: calc(100vh - ((0.75rem * 2) + 1.32rem));
    @include displa_flex(column, center, center);
    & > .item + .item {
      margin-top: 2rem;
    }
    .item {
      &:first-child {
        .item_enlace {
          padding-bottom: 0.5rem;
          font-weight: bolder;
          border-bottom: 3px solid var(--color_primario);
        }
      }
    }
  }
}
@media screen and (min-width: 60rem) {
  .menu_movil {
    padding: var(--relleno_escritorio_home);
  }
}
