.pie_pagina {
  margin-top: 1.93rem; /* (31/16) */
  @include displa_flex(row, center, center);
  .normal_pie_pagina {
    text-align: center;
    .enlace_pie_pagina {
      font-size: inherit;
      font-weight: bold;
      text-transform: inherit;
      color: inherit;
    }
  }
}
