.tarjeta {
  position: relative;
  width: 100%;
  margin-top: 1.56rem; /* (24.96/16) */

  .columna {
    width: inherit;
    position: relative;
    top: -4.12rem; /*(65.92/16) */
    @include displa_flex(column, flex-start, center);
  }
}
@media screen and(min-width:60rem) {
  .tarjeta {
    margin-top: 0;
    margin-left: 9.79%; /* (138/1404)*100 */
    flex-basis: 63.06%; /*(821.11/ (1440 - 138))*100 */

    .columna {
      top: -5.12rem; /*(81.92/16) */
    }
  }
}
