.tarjeta {
  position: relative;
  width: 100%;
  margin-top: 3.21vh;/* (24.96/776)*100 */

  .columna {
    width: inherit;
    position: relative;
    top: -8.49vh;/*(65.92/776)*100*/
    @include displa_flex(column, flex-start, center);
  }
}
@media screen and(min-width:60rem) {
  .tarjeta {
    margin-top: 0;
    margin-left: 9.79%; /* (138/1404)*100 */
    flex-basis: 63.06%; /*(821.11/ (1440 - 138))*100 */

    .columna {
      top: -7.58vh;/*(81.92/1080)*100*/
    }
  }
}
