.encabezado {
  width: 100%;
  height: 10vh;
  div {
    @include displa_flex(row, space-between, center);
    #abrir_menu {
      color: #f2f2f2;
    }
    h3 {
      font-family: Crimson Pro;
      font-style: normal;
      font-weight: 200;
      font-size: 0.875rem;
      line-height: 1rem;
      text-transform: uppercase;
      color: #ffffff;
      border: 1px solid #ffffff;
    }
  }
  nav {
    display: none;
  }
  @media screen and (min-width: 50em) {
    height: auto;
    padding: 2rem 0 8rem;
    @include displa_flex(row, space-between, center);
    #abrir_menu {
      display: none;
    }
    div {
      width: 40%;
    }
    nav {
      width: 50%;
      display: block;
      ul {
        @include displa_flex(row, space-between, center);
        li {
          &:first-child {
            a {
              border-bottom: 1px solid #ffffff;
              font-weight: bolder;
            }
          }
          a {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 1.375rem;
            color: #ffffff;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
