.tamano_normal {
  font-size: var(--tamano_normal);
  line-height: var(--interlineado_normal);
}

.tamano_normal_pequeno {
  font-size: var(--tamano_normal_pequeno);
  line-height: var(--interlineado_normal_pequeno);
}
