@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap");
:root {
  box-sizing: border-box;
  --color_fondo: #181719; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  background-color: var(--color_fondo); }

a {
  text-decoration: none;
  color: black; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

.contenedor {
  width: 100%;
  height: 100vh;
  padding: 1em; }
  .contenedor .encabezado {
    width: 100%;
    height: 10vh; }
    .contenedor .encabezado div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .contenedor .encabezado div #abrir_menu {
        color: #f2f2f2; }
      .contenedor .encabezado div h3 {
        font-family: Crimson Pro;
        font-style: normal;
        font-weight: 200;
        font-size: 0.875rem;
        line-height: 1rem;
        text-transform: uppercase;
        color: #ffffff;
        border: 1px solid #ffffff; }
    .contenedor .encabezado nav {
      display: none; }
    @media screen and (min-width: 50em) {
      .contenedor .encabezado {
        height: auto;
        padding: 2rem 0 8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .contenedor .encabezado #abrir_menu {
          display: none; }
        .contenedor .encabezado div {
          width: 40%; }
        .contenedor .encabezado nav {
          width: 50%;
          display: block; }
          .contenedor .encabezado nav ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; }
            .contenedor .encabezado nav ul li:first-child a {
              border-bottom: 1px solid #ffffff;
              font-weight: bolder; }
            .contenedor .encabezado nav ul li a {
              font-family: Montserrat;
              font-style: normal;
              font-weight: 500;
              font-size: 1.125rem;
              line-height: 1.375rem;
              color: #ffffff;
              text-transform: capitalize; } }
  .contenedor .tarjeta {
    width: 100%;
    height: calc(80vh - 1rem); }
    .contenedor .tarjeta > section + section {
      margin-top: 1rem; }
    .contenedor .tarjeta .bienvenido {
      padding: 0 1em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; }
      .contenedor .tarjeta .bienvenido > h3 + p {
        margin-top: 1.5rem; }
      .contenedor .tarjeta .bienvenido h3 {
        font-family: Lora;
        font-style: normal;
        font-weight: 500;
        font-size: 2.25rem;
        line-height: 2.875rem;
        color: #ffffff;
        text-transform: capitalize; }
      .contenedor .tarjeta .bienvenido p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        color: #ffffff; }
      .contenedor .tarjeta .bienvenido a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        color: #ffffff;
        text-transform: capitalize;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
      @media screen and (min-width: 37.5em) {
        .contenedor .tarjeta .bienvenido p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 1.5rem;
          line-height: 1.8125rem;
          color: #ffffff; }
        .contenedor .tarjeta .bienvenido a {
          margin-top: 1.5rem;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 1.5rem;
          line-height: 1.8125rem;
          color: #ffffff; } }
    .contenedor .tarjeta .contenido {
      width: 100%; }
      .contenedor .tarjeta .contenido .descripcion {
        width: 80%;
        position: relative;
        top: -4.375rem;
        margin: 0 auto;
        background: #181719;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
        .contenedor .tarjeta .contenido .descripcion .imagen_descripcion {
          padding: 0.5em 1.5em;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center; }
          .contenedor .tarjeta .contenido .descripcion .imagen_descripcion div {
            width: 25%; }
            .contenedor .tarjeta .contenido .descripcion .imagen_descripcion div img {
              border: none;
              border-radius: 50%; }
          .contenedor .tarjeta .contenido .descripcion .imagen_descripcion figcaption {
            width: 85%;
            margin-left: 0.8rem; }
            .contenedor .tarjeta .contenido .descripcion .imagen_descripcion figcaption h3,
            .contenedor .tarjeta .contenido .descripcion .imagen_descripcion figcaption span {
              font-family: Montserrat;
              font-weight: 500; }
            .contenedor .tarjeta .contenido .descripcion .imagen_descripcion figcaption h3 {
              font-size: 0.75rem;
              line-height: 0.914375rem;
              color: #ffffff;
              text-transform: uppercase; }
            .contenedor .tarjeta .contenido .descripcion .imagen_descripcion figcaption span {
              font-weight: 500;
              font-size: 0.625rem;
              line-height: 0.75rem;
              color: #828282; }
        .contenedor .tarjeta .contenido .descripcion div {
          color: #ffffff;
          font-family: Lora;
          font-weight: 700;
          font-size: 1.125rem;
          line-height: 35.2 0.19rem;
          text-transform: capitalize; }
      @media screen and (min-width: 37.5em) {
        .contenedor .tarjeta .contenido {
          width: inherit;
          height: inherit; }
          .contenedor .tarjeta .contenido .portada img {
            width: 100%;
            height: 50vh; }
          .contenedor .tarjeta .contenido .descripcion h3 {
            font-size: 0.875rem;
            line-height: 1.0625rem; }
          .contenedor .tarjeta .contenido .descripcion span {
            font-size: 0.75rem;
            line-height: 0.9375rem; } }
    @media screen and (min-width: 37.5em) {
      .contenedor .tarjeta {
        height: auto; } }
    @media screen and (min-width: 50em) {
      .contenedor .tarjeta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; } }
  @media screen and (min-width: 37.5em) {
    .contenedor {
      height: auto; } }
  .contenedor footer {
    width: 100%;
    height: 10vh;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    text-align: center;
    color: #a9a9a9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .contenedor footer span {
      font-weight: bolder; }
    .contenedor footer a {
      color: #a9a9a9; }
    @media screen and (min-width: 37.5em) {
      .contenedor footer {
        height: auto; } }
  .contenedor .menu_movil {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition-duration: 800ms;
    transition-property: transform;
    background-color: var(--color_fondo); }
    .contenedor .menu_movil div {
      height: 5vh;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
      .contenedor .menu_movil div span {
        color: #ffffff;
        cursor: pointer; }
    .contenedor .menu_movil ul {
      height: 95vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contenedor .menu_movil ul > li + li {
        margin-top: 1.5rem; }
      .contenedor .menu_movil ul li:first-child {
        font-weight: bolder;
        border-bottom: 3px solid #ffffff; }
      .contenedor .menu_movil ul li a {
        font-family: Montserrat;
        font-style: normal;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        text-transform: capitalize;
        padding: 1em; }
  .contenedor .abre {
    transform: translateX(0); }
