/* 36/16 */
/* 46/16 */
/* 48/16 */
/* 61/16 */
/* (18/16) */
/*35.04/16*/
/* 24/16 */
/* 31/16 */
/*14/16*/
/*16/16*/
/*18/16*/
/*21/16*/
/*12/16*/
/*15/16*/
/* 14/16 */
/* 17/16 */
/*14/16*/
/*17.07/16*/
/* 24/16 */
/* 29/16 */
/*10/16*/
/*12/16*/
/* 12/16 */
/* 15/16 */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
@keyframes apareceSitio {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

@keyframes escala_caja {
  from {
    transform: scale(0.96); }
  to {
    transform: scale(1); } }

:root {
  /*
      movil:(x=375,y=776)
      escritorio:(x=1440,y=1080)
    */
  --tamano_icono: 2rem;
  --color_primario: #ffffff;
  --color_secundario_oscruro: #181719;
  --color_secundario_gris_300: #828282;
  --color_secundario_gris_200: #00000040;
  --tamano_titulo_1: 2.25rem;
  --interlineado_titulo_1: 2.87rem;
  --tamano_titulo_2: 1.12rem;
  --interlineado_titulo_2: 2.19rem;
  --tamano_titulo_5: 0.87rem;
  --interlineado_titulo_5: 1rem;
  --tamano_titulo_6: 0.75rem;
  --interlineado_titulo_6_novil: 0.93rem;
  --tamano_normal: 0.87rem;
  --interlineado_normal: 1.06rem;
  --tamano_normal_pequeno: 0.62rem;
  --interlineado_normal_pequeno: 0.75rem;
  --relleno_home: 1.18rem 0.75rem;
  /* (19/16) , (12/16) */
  --ancho_maximo_home: 90rem;
  /*1440/16*/
  box-sizing: border-box; }
  @media screen and (min-width: 37.5rem) {
    :root {
      --tamano_titulo_1: 3rem;
      --interlineado_titulo_1: interlineado_titulo_1_escritorio; } }
  @media screen and (min-width: 37.5rem) {
    :root {
      --tamano_titulo_2: 1.5rem;
      --interlineado_titulo_2_escriotrio: 1.93rem; } }
  @media screen and (min-width: 37.5rem) {
    :root {
      --tamano_titulo_5: 1.12rem;
      --interlineado_titulo_5: 1.31rem; } }
  @media screen and (min-width: 37.5rem) {
    :root {
      --tamano_titulo_6: 0.87rem;
      --interlineado_titulo_6: 1.06rem; } }
  @media screen and (min-width: 37.5rem) {
    :root {
      --tamano_normal: 1.5rem;
      --interlineado_normal: 1.81rem; } }
  @media screen and (min-width: 37.5rem) {
    :root {
      --tamano_normal_pequeno: 0.75rem;
      --interlineado_normal_pequeno: 0.93rem; } }
  @media screen and (min-width: 50rem) {
    :root {
      --relleno_home: 2.62rem 4.5rem;
      /* (42/16) , (72/16) */ } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: var(--color_secundario_oscruro); }

ul {
  list-style: none; }

img {
  max-width: 100%; }

body {
  background-color: var(--color_secundario_oscruro); }

.titulo {
  font-family: "Lora", serif;
  font-style: normal; }

.parrafo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  color: var(--color_primario); }

.enlace {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
  color: var(--color_primario); }

.icono {
  font-size: var(--tamano_icono);
  color: var(--color_primario);
  cursor: pointer; }

.normal {
  font-size: var(--tamano_normal);
  line-height: var(--interlineado_normal); }

.pequeno {
  font-size: var(--tamano_normal_pequeno);
  line-height: var(--interlineado_normal_pequeno); }

.titulo_1 {
  font-weight: 500;
  font-size: var(--tamano_titulo);
  line-height: var(--interlineado_titulo);
  text-transform: capitalize;
  color: var(--color_primario); }

.titulo_2 {
  font-weight: bold;
  font-size: var(--tamano_titulo_2);
  line-height: var(--interlineado_titulo_2);
  text-transform: capitalize;
  color: var(--color_primario); }

.titulo_5 {
  font-weight: 200;
  font-size: var(--tamano_titulo_5);
  line-height: var(--interlineado_titulo_2);
  text-transform: capitalize;
  color: var(--color_primario); }

.titulo_6 {
  font-weight: 500;
  font-size: var(--tamano_titulo_6);
  line-height: var(--interlineado_titulo_6_novil);
  text-transform: capitalize;
  color: var(--color_primario); }

.navegacion_escritorio {
  display: none; }

@media screen and (min-width: 60rem) {
  .navegacion_escritorio {
    flex-basis: 80%;
    /* (576/1440)*100 */
    display: block; } }

.navegacion_movil {
  padding: var(--relleno_home);
  width: 100%;
  height: 100vh;
  background-color: var(--color_secundario_oscruro);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  transition-duration: 1s;
  transition-property: all; }
  .navegacion_movil.abre {
    opacity: 1;
    z-index: 1; }
  .navegacion_movil .cerrar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }

@media screen and (min-width: 60rem) {
  .navegacion_movil {
    padding: var(--relleno_escritorio_home); } }

@media screen and (min-width: 60rem) {
  .cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; } }

.contenido {
  width: 100%;
  margin-top: 2.37rem;
  /* (37.92/16) */ }
  .contenido > .bienvenido + .tarjeta {
    margin-top: 1.75rem;
    /* (28/16) */ }

@media screen and (min-width: 60rem) {
  .contenido {
    margin-top: 7.31rem;
    /* (116.96/16) */
    height: 54.33vmax;
    /* (782.35/1440)*100 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; } }

.tarjeta {
  position: relative;
  width: 100%;
  margin-top: 1.56rem;
  /* (24.96/16) */ }
  .tarjeta .columna {
    width: inherit;
    position: relative;
    top: -4.12rem;
    /*(65.92/16) */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }

@media screen and (min-width: 60rem) {
  .tarjeta {
    margin-top: 0;
    margin-left: 9.79%;
    /* (138/1404)*100 */
    flex-basis: 63.06%;
    /*(821.11/ (1440 - 138))*100 */ }
    .tarjeta .columna {
      top: -5.12rem;
      /*(81.92/16) */ } }

.pie_pagina {
  margin-top: 1.93rem;
  /* (31/16) */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .pie_pagina .parrafo_pie_pagina {
    font-size: 0.87rem;
    line-height: 1rem;
    text-align: center;
    text-transform: none; }
    .pie_pagina .parrafo_pie_pagina .enlace_pie_pagina {
      font-size: inherit;
      font-weight: bold;
      text-transform: inherit;
      color: inherit; }

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .encabezado .columna {
    flex-basis: 95%;
    /* (356.25/375)*100 */ }
    .encabezado .columna .titulo_5_encabezado {
      display: inline-block;
      padding: 1.03% 2.04%;
      /*  (8/776)*100 , (9/375)*100  */
      border: 1px solid var(--color_primario); }
  .encabezado .encabezado_icono {
    flex-basis: 5%;
    /* (18.75/375)*100  */ }

@media screen and (min-width: 60rem) {
  .encabezado {
    flex-basis: 20%;
    /*(288/1440)*100 */ }
    .encabezado .icono_encabezado {
      display: none; } }

.bienvenido > * + * {
  margin-top: 1.56rem;
  /* (25/16) */ }

.bienvenido .parrafo_bienvenido {
  width: 66.66%;
  /* (250/375)*100 */ }

.bienvenido .titulo_5_bienvenido {
  width: 68.87%;
  /* (258.26/375)*100*/
  text-transform: none; }
  .bienvenido .titulo_5_bienvenido .enlace_titulo_5_bienvenido {
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
    text-transform: inherit;
    line-height: inherit;
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
  .bienvenido .titulo_5_bienvenido .enlace_icono_bienvenido {
    font-size: inherit;
    margin-left: 3.96%;
    /*(14.88/375)*100*/ }

@media screen and (min-width: 60rem) {
  .bienvenido {
    margin-top: 0;
    flex-basis: 31.48%;
    /* (409.96/(1440-138))*100 */ }
    .bienvenido > * + * {
      margin-top: 2.5rem;
      /* (40/16) */ } }

.informacion {
  padding: 5.06%;
  /* (19/375)*100 */
  width: 80%;
  /* (300/375)*100 */
  box-shadow: 0px 4px 4px var(--color_secundario_gris_200);
  background-color: var(--color_secundario_oscruro);
  border-radius: 0.5rem;
  animation: escala_caja 1s 0s ease-in infinite alternate; }
  .informacion > * + * {
    margin-top: 1.36rem;
    /* (21.9/16) */ }
  .informacion .figura_informacion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }

@media screen and (min-width: 60rem) {
  .informacion {
    align-self: flex-end;
    margin-right: 1.59%;
    /* (23/1440 )*100 */
    width: 49.93%;
    /* (410/821.11)*100 */
    align-self: flex-end; }
    .informacion > .figura_informacion + .subtitulo_informacion {
      margin-top: 1.85rem;
      /* (29.62/16) */ } }

.figura {
  width: 25%; }
  .figura .imagen_figura {
    border: none;
    border-radius: 50%; }

.descripcion {
  width: 85%;
  margin-left: 1.64%;
  /* (12.8/776)*100*/ }
  .descripcion > * + * {
    margin-top: 0.36rem;
    /* (5.85/16) */ }
  .descripcion .parrafo_descripcion {
    color: var(--color_secundario_gris_300);
    text-transform: capitalize; }

@media screen and (min-width: 60rem) {
  .descripcion > * + * {
    margin-top: 0.5rem;
    /*(8/16)*/ } }

.lista > .item + .item {
  margin-top: 3rem;
  /*(32/16)*/ }

.lista .item:first-child .titulo_2_item {
  font-weight: bolder;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 0.5rem;
  /* (8/16) */ }

.lista_movil {
  height: calc(100vh - ((0.75rem * 2) + 1.32rem));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.lista_escritorio {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }
  .lista_escritorio > .item + .item {
    margin-left: 5.96%;
    /* (85.92/1440)*100 */
    margin-top: 0; }

.home {
  max-width: var(--ancho_maximo_home);
  margin: 0 auto;
  padding: var(--relleno_home);
  animation: apareceSitio 1s ease-in 0s; }
