.bienvenido {
  flex-basis: 35%;/* (131.25/375)*100 */

  & > * + * {
    margin-top:3.22vh; /* (25/776)*100 */
  }

  .parrafo_bienvenido {
    width: 68.87%;/* (258.26/375)*10*/

    .enlace_parrafo_bienvenido {
      font-family: inherit;
      font-weight: bold;
      line-height: inherit;
      font-size: inherit;
      color: inherit;

      @include displa_flex(row, flex-start, center);
    }
  }

  .enlace_icono_bienvenido {
    margin-left: 3.96%;/*(14.88/375)*100*/
  }
}
@media screen and(min-width:60rem) {
  .bienvenido {
    margin-top: 0;
    flex-basis: 31.48%; /* (409.96/(1440-138))*100 */

    & > * + * {
      margin-top: 3.70vh;/* (40/1080)*100 */
    }
  }
}
