.bienvenido {
  margin-top: 2.37rem;
  flex-basis: 35%;
  @include displa_flex(column, space-between, flex-start);
  & > * + * {
    margin-top: 1.56rem;
  }
  .bienvenido_titulo {
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 2.875rem;
    text-transform: capitalize;
  }
  .bienvenido_parrafo {
    flex-basis: 68.87%;
    font-style: normal;
    font-weight: normal;
  }
  .bienvenido_enlace {
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    @include displa_flex(row, center, center);
  }
  .bienvenido_enlace_icono {
    margin-left: 0.93rem;
  }
}
@media screen and(min-width:80rem) {
  .bienvenido {
    & > * + * {
      margin-top: 2.5rem;
    }
    .bienvenido_titulo {
      font-size: 3rem;
      line-height: 3.81rem;
    }
    .bienvenido_parrafo {
      font-size: 1.5rem;
      line-height: 1.81rem;
    }
    .bienvenido_enlace {
      font-size: 1.5rem;
      line-height: 1.8125rem;
    }
  }
}
