.bienvenido {
  flex-basis: 35%; /* (131.25/375)*100 */

  & > * + * {
    margin-top: 1.56rem; /* (25/16) */
  }

  .parrafo_bienvenido {
    width: 68.87%; /* (258.26/375)*100*/

    .enlace_parrafo_bienvenido {
      font-family: inherit;
      font-weight: bold;
      line-height: inherit;
      font-size: inherit;
      color: inherit;

      @include displa_flex(row, flex-start, center);
    }
  }

  .enlace_icono_bienvenido {
    margin-left: 3.96%; /*(14.88/375)*100*/
  }
}
@media screen and(min-width:60rem) {
  .bienvenido {
    margin-top: 0;
    flex-basis: 31.48%; /* (409.96/(1440-138))*100 */

    & > * + * {
      margin-top: 2.5rem; /* (40/16) */
    }
  }
}
