.descripcion {
  width: 85%;
  margin-left: 1.64%; /* (12.8/776)*100*/

  & > * + * {
    margin-top: 0.36rem; /* (5.85/16) */
  }

  .parrafo_descripcion {
    color: var(--color_secundario_gris_300);
    text-transform: capitalize;
  }
}
@media screen and(min-width:60rem) {
  .descripcion {
    & > * + * {
      margin-top: 0.5rem; /*(8/16)*/
    }
  }
}
