.descripcion {
  width: 85%;
  margin-left: 0.8rem; /*12.8/16*/

  & > * + * {
    margin-top: 0.36rem; /* 5.85/16 */
  }
}
@media screen and(min-width:60rem) {
  .descripcion {
    & > * + * {
      margin-top: 0.5rem;
    }
  }
}
