.encabezado {
  .encabezado_titulo {
    padding: 0.5rem 0.56rem 0.43rem;
    border: 1px solid var(--color_primario);
  }
}
@media screen and (min-width: 50rem) {
  .encabezado {
    .encabezado_icono {
      display: none;
    }
  }
}
