.enlace {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.12rem;
  line-height: 1.37rem;
  text-transform: capitalize;
  color: var(--color_primario);
}
