.informacion {
  padding: 5.06%; /* (19/375)*100 */
  width: 80%; /* (300/375)*100 */
  box-shadow: 0px 4px 4px var(--color_secundario_gris_200);
  background-color: var(--color_secundario_oscruro);
  border-radius: 0.5rem;
  animation: escala_caja 1s 0s ease-in infinite alternate;

  & > * + * {
    margin-top: 2.82vh; /* (21.9/776)*100 */
  }

  .figura_informacion {
    @include displa_flex(row, flex-start, center);
  }
}
@media screen and (min-width: 60rem) {
  .informacion {
    align-self: flex-end;
    margin-right: 1.59%; /* (23/1440 )*100 */
    width: 49.93%; /* (410/821.11)*100 */
    align-self: flex-end;

    & > .figura_informacion + .subtitulo_informacion {
      margin-top: 2.77vh;/* (29.62/1080)*100 */
    }
  }
}
