.informacion {
  padding: 1.18rem; /* 19/16 */
  width: 80%; /* (300/375)*100 */
  box-shadow: 0px 4px 4px var(--color_secundario_gris_200);
  background-color: var(--color_secundario_oscruro);
  border-radius: 0.5rem;
  animation: escala_caja 1s 0s ease-in infinite alternate;

  & > * + * {
    margin-top: 1.36rem; /* 21.9/16 */
  }

  .figura_informacion {
    @include displa_flex(row, flex-start, center);
  }
}
@media screen and (min-width: 60rem) {
  .informacion {
    align-self: flex-end;
    margin-right: 1.43rem; /* 23/16 */
    width: 49.93%; /* (410/821.11)*100 */
    align-self: flex-end;

    & > .figura_informacion + .subtitulo_informacion {
      margin-top: 1.87rem;
    }
  }
}
