.lista {
  & > .item + .item {
    margin-top: 2rem;
  }
  .item {
    &:first-child {
      .item_enlace {
        font-weight: bolder;
        border-bottom: 3px solid #ffffff;
        padding-bottom: 0.5rem;
      }
    }
    .item_enlace {
      font-family: Montserrat;
      font-style: normal;
      font-size: 1.12rem;
      line-height: 1.37rem;
      color: #ffffff;
      text-transform: capitalize;
    }
  }
}
