.lista {
  & > .item + .item {
    margin-top: 4.12vh;/*(32/776)*100*/
  }
  .item {
    &:first-child {
      .item_enlace {
        font-weight: bolder;
        border-bottom: 3px solid #ffffff;
        padding-bottom: 2.13%;/* (8/375)*100 */
      }
    }
  }
}
