.menu_movil {
  padding: 1.37rem 1.24rem;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  transition-duration: 1s;
  transition-property: all;
  background-color: var(--color_fondo);
  &.abre {
    opacity: 1;
    z-index: 1;
  }

  .cerrar {
    @include displa_flex(row, flex-end, center);
    .cerrar_icono {
      color: #ffffff;
      cursor: pointer;
      font-size: 1.32rem;
    }
  }
  .lista {
    height: calc(100vh -( (.75rem * 2) + 1.32rem) );
    @include displa_flex(column, center, center);
    & > .item + .item {
      margin-top: 2rem;
    }
    .item {
      &:first-child {
        .enlace{
          font-weight: bolder;
          border-bottom: 3px solid #ffffff;
          padding-bottom: .5rem;
        }
      }
      .enlace {
        font-family: Montserrat;
        font-style: normal;
        font-size: 1.12rem;
        line-height: 1.37rem;
        color: #ffffff;
        text-transform: capitalize;
      }
     
    }
  }
}



